/* src/components/MenuPanel.module.css */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--vkui--color_background_content);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    background-color: var(--vkui--color_background_hover);
}
